.Hero {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-bottom: 2px solid black;
	background-color: rgb(156, 18, 201);
	margin: 0;
	h1 {
		font-size: 4rem;
		width: 60%;
		color: rgb(77, 15, 97);
		font-weight: 400;
	}

	.infos {
		div {
			display: flex;
			flex-direction: column;
		}
	}
}
