.App {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0;

	.addTask {
		position: fixed;
		bottom: 30px;
		left: calc(50vw - 20px);
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 1px solid black;
		font-size: 2rem;
		cursor: pointer;
	}
}
